

.App {
    text-align: center;
  }
  
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  /*DEFAULT*/
  * {  box-sizing: border-box;}
  html {
      box-sizing: border-box !important;
  }
  ul,li,a, a:hover, a:focus, a:active{
      text-decoration: none;
      list-style: none;
      /*color: #000;*/
      color: inherit;
      text-underline: none;
      outline: none;
  }
  a:hover{
      filter:brightness(90%) !important;
      cursor: pointer;
  }


  
  *,
  *:before,
  *:after {
      box-sizing: border-box;
      padding: 0;
      margin: 0;
  }
  body {
      font-family: 'Lato', sans-serif;
      line-height: 1.5em;
      font-size: 14px;
      color: #000;
      background: #fff;
  }
  
  /*ICON SIZE*/
  i{font-size: 36px;}
  
  /*TITLE SIZE*/
  h1{
      font-size: 36px;
      font-weight: 600;
  }
  
  /*ETC*/
  .container{
      width: 100%;
      height: max-content;
      padding: 48px 72px 48px 72px;
      position: relative;
      display: flex;
  }
  .text-center{
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
  }
  
  
  /*BUTTONS*/
  button,
  input[type="submit"],
  input[type="reset"] {
      height: 48px;
      padding: 0 30px;
      white-space: nowrap;
      border-radius: 5px;
      outline: none;
      border: none;
      cursor: pointer;
      box-sizing: border-box;
      -webkit-box-shadow: 0 4px 6px hsla(0,0%,0%,.1);
      -moz-box-shadow: 0 4px 6px hsla(0,0%,0%,.1);
      box-shadow: 0 4px 6px hsla(0,0%,0%,.1);
      transition: transform 0.5s;
      text-decoration: none;
  }
 button:hover,
  input[type="submit"]:hover,
  input[type="reset"]:hover {
      filter:brightness(110%);
      -webkit-box-shadow: 0 10px 20px hsla(0,0%,0%,.1);
      -moz-box-shadow: 0 10px 20px hsla(0,0%,0%,.1);
      box-shadow: 0 10px 20px hsla(0,0%,0%,.1);
      outline: none;
      transition: transform 0.5s;
  }
  
  button:active,
  input[type="submit"]:active,
  input[type="reset"]:active,
  input[type="button"]:active {
      filter:brightness(100%);
      -webkit-box-shadow: 0 4px 6px hsla(0,0%,0%,.1);
      -moz-box-shadow: 0 4px 6px hsla(0,0%,0%,.1);
      box-shadow: 0 4px 6px hsla(0,0%,0%,.1);
      outline: none;
      transition: transform 0.5s;
  }
  
  /*input[type="text"]{*/
  /*    width: 100%;*/
  /*}*/
  
  /*COLOR*/
  .prim{
      background-color: #1E7A93;
      color: #fff;
  }
  .gray{
      background-color: #cccccc;
      color: #000;
  }
  .light{
      background-color: #f2f2f2;
      color: #000;
  }

  /* LANDING */
  .landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(253, 73, 160, 0.5);
    /*background: radial-gradient(circle, #FD49A0 5%, rgb(255, 255 ,255) 95%);*/
    border: 1px solid black;
    border-radius: 10px;
    padding: 2.5rem;
    -webkit-box-shadow: 0 5px 15px hsla(0,0%,0%,.2);
    -moz-box-shadow: 0 5px 15px hsla(0,0%,0%,.2);
    box-shadow: 0 5px 15px hsla(0,0%,0%,.2);
    margin-top: 4rem;
  }

  .p-1 {
    padding: 2rem;
  }

  .landing-title {
    font-size: 5rem;
    font-weight: 800;
    letter-spacing: .2rem;
    color: #050505;
  }

  .landing-subtitle {
    font-size: 1.5rem;
    color: #505050;
  }

  .landing-p {
    font-size: 1rem;
    color: #130303;
  }
  /* LANDING */
  
  /* profile view */

.profile-info {
  margin-left: 1rem;
  overflow-wrap: break-word;
}

.profile-text {
  padding: 0.5rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.profile-text2 {
  padding: 0.5rem;
  font-size: 1rem;
}

  /* profile view */

  /*CARD*/
  .card-lg{
      border: 1px solid #A16AE8;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px; 
      border-radius: 10px;
      -webkit-box-shadow: 0 5px 15px hsla(0,0%,0%,.2);
      -moz-box-shadow: 0 5px 15px hsla(0,0%,0%,.2);
      box-shadow: 0 5px 15px hsla(0,0%,0%,.2);
      padding: 50px;
      background-color: rgb(244, 242, 239);
  }

  .card-md {
    max-width: 70vw;
    border: 1px solid #A16AE8;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px; 
    border-radius: 10px;
    -webkit-box-shadow: 0 5px 15px hsla(0,0%,0%,.2);
    -moz-box-shadow: 0 5px 15px hsla(0,0%,0%,.2);
    box-shadow: 0 5px 15px hsla(0,0%,0%,.2);
    padding: 20px;
    background-color: rgb(244, 242, 239);
  }

  .card-sm{
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      -webkit-box-shadow: 0 2.5px 7.5px hsla(0,0%,0%,.05);
      -moz-box-shadow: 0 2.5px 7.5px hsla(0,0%,0%,.05);
      box-shadow: 0 2.5px 7.5px hsla(0,0%,0%,.05);
  }

  .peer-card-small {
    /*width: 80vw;*/
    width: 400px;
    max-width: 400px;
    border: 1px solid rgb(244, 242, 239);
    background-color: rgb(244, 242, 239);
    -webkit-box-shadow: 0 2.5px 7.5px hsla(0,0%,0%,.05);
    -moz-box-shadow: 0 2.5px 7.5px hsla(0,0%,0%,.05);
    box-shadow: 0 2.5px 7.5px hsla(0,0%,0%,.05);
    border-radius: 8px;
    padding: 10px;
  }

  .card-row {
    width: 80vw;
    border: 1px solid rgb(244, 242, 239);
    background-color: rgb(244, 242, 239);
    -webkit-box-shadow: 0 2.5px 7.5px hsla(0,0%,0%,.05);
    -moz-box-shadow: 0 2.5px 7.5px hsla(0,0%,0%,.05);
    box-shadow: 0 2.5px 7.5px hsla(0,0%,0%,.05);
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
  }

  .card-wrap{
      width: 100%;
      height: 100%;
      display: flex;
  }

  .fa-bars, menu-toggle {
    color: #fff;
    background-color: #603F8B;
  }
  
  /* some more profile stuff */
  .profile-card {
    padding: 30px;
    border-color: rgb(244, 242, 239);
  }

  .mt-1 {
    margin-top: 1rem;
  }

  .profile-header {
    display: flex;
    text-align: center;
    align-items: center;
  }

  .avatar {
    border-radius: 75%;
    width: 15%;
    height: 15%;
    margin-left: auto;
  }

  .create-profile-margin {
    margin-bottom: 20px;
  }

    /* some more profile stuff */

  /* peers */
.peers {
  display: flex;
  flex-direction: column;
}

.peer-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

  .peer-card {
    margin: 0.65rem;
    -webkit-box-shadow: 0 4.5px 12.5px hsla(0,0%,0%,.2);
    -moz-box-shadow: 0 4.5px 12.5px hsla(0,0%,0%,.2);
    box-shadow: 0 4.5px 12.5px hsla(0,0%,0%,.2);
    border-color: rgb(244, 242, 239);
  }


  .peer-text {
    padding: 0.3rem;
    font-size: 2rem;
  }

  .row-title {
    padding: 0.25rem;
    margin: 0.05rem;
    font-size: 1.5rem;
  }

  .peer-small {
    font-size: 1rem;
    color: gray;
  }

  .peer-margin {
    margin-bottom: 1.5rem;
    margin-right: 0.5rem;
  }

  .peers-button-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .avatar-peer {
    width: 10%;
    height: 10%;
  }

  .avatar-peer-small {
    width: 5%;
    height: 5%;
  }

  /* peers */
  
  /* buddies */
  .buddy-card {
    width: 512px;
    margin: 0.65rem;
    -webkit-box-shadow: 0 4.5px 12.5px hsla(0,0%,0%,.2);
    -moz-box-shadow: 0 4.5px 12.5px hsla(0,0%,0%,.2);
    box-shadow: 0 4.5px 12.5px hsla(0,0%,0%,.2);
    border-color: rgb(244, 242, 239);
  }

  .requests {
    display: flex;
    flex-direction: column;
  }

  .requests-title {
    font-size: 2rem;
    margin: 1.5rem;
    text-size-adjust: auto;
  }

  .requests-text {
    font-size: 1.33rem;
    margin-right: auto;
    margin-left: 1.33rem;
    text-size-adjust: auto;
  }

  .requests-avatar {
    border-radius: 75%;
    width: 10%;
    height: 10%;
    margin-right: right;
  }

  .profile-buddy-row {
    display: flex;
    text-align: center;
    align-items: center;
    margin: 1rem;
    margin-left: auto;
  }

  .profile-buddy-buttongroup {
    display: flex;
    margin-left: auto;
  }

  .btn-buddy {
    box-sizing: content-box;
    text-align: center;
    text-decoration: none;
    margin: 0.5rem;
    font-size: 0.8rem;
    padding: 0.20rem 0.80rem;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.1s;
    height: 1.75rem;
  }

  .btn-buddy-profile {
    border: 1px solid #A16AE8;
    background-color: #A16AE8;
    color: #fff;
  }

  .btn-buddy-profile:hover {
    border: 1px solid #A16AE8;
    background-color: #fff;
    color: #A16AE8;
  }

  .btn-buddy-accept {
    border: 1px solid #00bb00;
    background-color: #00bb00;
    color: #fff;
  }

  .btn-buddy-accept:hover {
    border: 1px solid #00bb00;
    background-color: #fff;
    color: #00bb00;
  }

  .btn-buddy-decline {
    border: 1px solid #ff0000;
    background-color: #ff0000;
    color: #fff;
  }

  .btn-buddy-decline:hover {
    border: 1px solid #ff0000;
    background-color: #fff;
    color: #ff0000;
  }

  @media (max-width: 1000px) {
    .btn-buddy {
      margin: 0.3rem;
      font-size: 0.6rem;
      padding: 0.15rem 0.60rem;
      height: 1rem;
    }
  }

  /* buddies */
  
  /*forms*/
  /*
  input[type="text"],
  input[type="email"],
  input[type="password"]{
      border: 1px solid #CCCCCB;
      background-color: rgba(232, 230, 235,0.2);
  }
  
  input[type="text"]:hover ,
  input[type="email"]:hover,
  input[type="password"]:hover{
      box-sizing: border-box;
      border: 0.5px solid rgba(30,122,147,0.75);
      -webkit-box-shadow:  0 0 1px 3px rgba(30,122,147,0.1);
      -moz-box-shadow:  0 0 1px 3px rgba(30,122,147,0.1);
      box-shadow:  0 0 1px 3px rgba(30,122,147,0.1);
  }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus,
  input[type="text"]:active,
  input[type="email"]:active,
  input[type="password"]:active{
      border: 1px solid rgba(30,122,147,0.75);
      -webkit-box-shadow:  0 0 1px 3px rgba(30,122,147,0.1);
      -moz-box-shadow:  0 0 1px 3px rgba(30,122,147,0.1);
      box-shadow:  0 0 1px 3px rgba(30,122,147,0.1);
  }
  */
  .navbar label{
      pointer-events: all;
  }
  label{
      pointer-events:none;
  }
  
  .hamburger-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .navbar{
    width: 100%;
    /*background-color: linear-gradient(right to left, rgba(170, 10, 30, 1), rgba(170, 10, 30, 0.8));*/
    background-color: #603F8B;
    height: 2.5rem;
    align-items: center;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 5px 15px hsla(0,0%,0%,.4);
  }

  .navbar-brand {
    margin-right: auto;
    font-size: 24px;
    margin-left: 24px;
    color: #E8E6EB;
  }

  .navs {
    margin-left: auto;
    margin-right: 24px;
    /*justify-content: space-between;*/
  }

  .navs > .nav-item:hover{
    filter:brightness(90%) !important;
        padding: 3px 6px 0px 6px;
        cursor: pointer;
  }

  .menu{
    height: 100%;
    display: flex;
    margin-left: auto;
  }
  .menu a{
    height: 100%;
    width: 100px;
    color:white;
    background-color: #603F8B;
    margin: 0 6px 0 6px;
    font-weight: 1000;
  }

  .viewprofile-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  /* ALERTS */
  .alerts {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 17.5rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
  }

  .alert {
    border: 1px solid black;
    border-radius: 2px;
    padding: 10px;
    margin: 3px;
  }

  .alert-success {
    background-color: #d4edda;
    border-color: #d4edda;
  }

  .alert-danger {
    background-color: #f8d7da;
    border-color: #f8d7da;
  }

  .alert-icon {
    font-size: 1rem;
  }
  /* ALERTS */
  
  /*HAMBURGER*/
  label{
    color: #FFF;
    width: 80px;
    display: flex;
    justify-content: center;
    background-color: #603F8B;
    align-items: center;
    transition: transform 0.5s;
  }
  
  .navbar label:hover{
    filter:brightness(90%);
    cursor: pointer;
  }
  .navbar input:checked + label ~ .menu-toggle-items{
    display: flex;
    z-index: 2;
  }
  
  .menu-toggle-items{
    width: 100%;
    position: absolute;
    top: 2.5rem;
    background-color: #603F8B;
    display: none;
    flex-direction: column;
    box-shadow: 0px 5px 15px hsla(0,0%,0%,.4);
  
  }

  .menu-toggle-items a {
    color: #fff;
    width: 100%;
    padding: 12px;
    font-weight: 500;
    background-color: #603F8B;
    filter:brightness(110%);
  }

  /*.menu-toggle-items a:first-child {
    margin-top: 2.5rem;
  }*/
  
  
  /*hiding checkbox*/
  input[type="checkbox"] {
    display: none !important;
  }
  
  .course-list li {
    display: inline;
  }
  
  
  @media only screen and (min-width: 768px) {
    label, .menu-toggle, .menu-toggle-items, .menu-toggle-items a{
        display: none;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .menu{
        display: none;
    }
  }

  /* dashboard */
  .dashboard-col {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .dashboard-buddies {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 1rem;
  }


  /* dashboard */
  
  .btn-primary {
    background-color: rgba(161, 106, 232, 0.9);
    font-size: 100%;
  }

  .btn-primary:hover {
    background-color: rgba(161, 106, 232, 0.7);
  }

  .btn-dash {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin: 1rem;
    background-color: #EA3160;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    cursor: pointer;
    color: #fff;
    transition: 0.3s;
  }

  .btn-dash:hover {
    background-color: #fff;
    color: #EA3160;
    border: 1px solid #EA3160;
    border-radius: 8px;
  }

  .btn-med {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin: 0.5rem;
    background-color: #EA3160;
    font-size: 1rem;
    padding: 0.4rem 0.8rem;
    border-radius: 7.5px;
    cursor: pointer;
    color: #fff;
    transition: 0.25s;
  }

  .btn-peer {
    background-color: rgb(127, 0, 255);
  }

  .btn-peer:hover {
    border: solid 1px rgb(127, 0, 255);
    background-color: #fff;
    color: rgb(127, 0, 255);
  }

  .btn-small {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin: 0.5rem;
    background-color: #EA3160;
    font-size: 0.9rem;
    padding: 0.25rem 1rem;
    border-radius: 7.5px;
    cursor: pointer;
    color: #fff;
    transition: 0.2s;
    height: 2rem;
  }

  .btn-small:hover {
    background-color: #fff;
    color: #EA3160;
    border: 1px solid #EA3160;
    border-radius: 8px;
  }

  .btn-small:disabled {
    background-color: #fff;
    color: #EA3160;
    border: 1px solid #EA3160;
    border-radius: 8px;
    cursor: default;
  }

  .search-bar-wrapper {
    display: flex;
    margin-left: 0.3rem;
  }

  .search-bar {
    background-color: #fff;
    box-sizing: border-box;
    width: 1000px;
    max-width: 80vw;
    padding: 1.5rem 1.5rem;
    font-size: 1.25rem;
    border: 0.5px solid #EA3160;
  }

  .search-bar:hover {
    box-sizing: border-box;
    border: 0.5px solid #EA3160;
    -webkit-box-shadow:  0 0 1px 3px rgba(234, 49, 96, 0.1);
    -moz-box-shadow:  0 0 1px 3px rgba(234, 49, 96, 0.1);
    box-shadow:  0 0 1px 3px rgba(234, 49, 96, 0.1);
    padding: 1.5rem 1.5rem;
    font-size: 1.25rem;
  }

  .search-bar:focus{
    border: 1px solid #EA3160;
    -webkit-box-shadow:  0 0 1px 3px rgba(234, 49, 96, 0.1);
    -moz-box-shadow:  0 0 1px 3px rgba(234, 49, 96, 0.1);
    box-shadow:  0 0 1px 3px rgba(234, 49, 96, 0.1);
  }


/* Create group form */ 
.mb-1{
  margin-bottom: 1rem;
}

.mb-05 {
  margin-bottom: 0.5rem;
}

.course-title {
  font-size: 1.5rem;
}

.purple {
  color: #603F8B;
}

.course-btn {
  background-color: #EA3160;
  border: 1px solid #EA3160;
  color: #fff;
}

.course-btn:hover {
  background-color: #fff;
  border: 1px solid #EA3160;
  color: #EA3160;
}

.create-group-btn {
  width: 200px;
  height: 35px !important;
  font-size: 1.2rem;
  font-weight: 2000;
}
/* Create group form */ 

/* explore groups */
.explore-group-card {
  width: 1000px;
  max-width: 80vw;
  margin: 1rem;
  -webkit-box-shadow: 0 4.5px 12.5px hsla(0,0%,0%,.2);
  -moz-box-shadow: 0 4.5px 12.5px hsla(0,0%,0%,.2);
  box-shadow: 0 4.5px 12.5px hsla(0,0%,0%,.2);
  border-color: rgb(244, 242, 239);
}

.explore-profile-group {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.right-row-text {
  font-size: 1.25rem;
  margin-left: auto;
  margin-right: 50px;
  color: #424141;
}

.explore-text {
  font-size: 1.2rem;
  padding: 0.5rem;
}

.explore-avatar {
  border-radius: 75%;
  width: 15%;
  height: 15%;
}

.to-right {
  margin-left: auto;
}

.btn-create {
  border: 1px solid #0F8BE1;
  background-color: #0F8BE1;
  color: #fff;
}

.btn-create:hover {
  border: 1px solid #0F8BE1;
  background-color: #fff;
  color: #0F8BE1;
}
/* explore groups */

/* study view */
.studyview-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.studyview-wrapper-desktop-smaller {
  width: 77%;
  margin-left: auto;
  transition: 3s;
}

.studyview-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.study-card {
  flex-grow: 2;
  width: 320px;
  border: 1px solid #A16AE8;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px; 
  border-radius: 10px;
  -webkit-box-shadow: 0 5px 15px hsla(0,0%,0%,.2);
  -moz-box-shadow: 0 5px 15px hsla(0,0%,0%,.2);
  box-shadow: 0 5px 15px hsla(0,0%,0%,.2);
  padding: 15px;
  margin: 15px;
  background-color: rgb(244, 242, 239);
}

.study-card-sm {
  flex-grow: 1;
}

.study-card-lg {
  height: 340px;
  width: 600px;
  flex-grow: 3;
  flex-shrink: 1;
}

.study-text {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.study-text-profile {
  font-size: 1rem;
  margin-left: 0.5rem;
  text-align: center;
  text-size-adjust: auto;
}

.study-header {
  font-size: 1.6rem;
  margin-bottom: 0.8rem;
}

.study-avatar {
  border-radius: 75%;
  width: 8%;
  height: 8%;
  margin-right: right;
}

.study-sm {
  font-size: 0.9rem;
  color: gray;
}

.study-btn-profile {
  box-sizing: content-box;
  text-align: center;
  text-decoration: none;
  margin: 0.3rem;
  font-size: 0.6rem;
  padding: 0.15rem 0.60rem;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.1s;
  height: 1.5rem;
}

.study-member {
  display: flex;
  text-align: center;
  align-items: center;
  margin: 0.8rem;
  margin-left: auto;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.invite-card {
  margin-left: 25px;
  width: 1050px;
  max-width: 80vw;
}
/* study view */

/* study view group selection */

.sidebar {
  height: 1920px;
  width: 0;
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0;
  background-color: #EA3160;
  padding-top: 30px;
  transition: 0.4s;
}

.sidebar-link {
  padding: 6px 6px 22px 25px;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  display: block;
  transition: 0.5s;
}

.sidebar-link:hover {
  cursor: pointer;
  color: gray;
  transition: 0.3s;
}

.sidebar-on {
  width: 350px;
}

.sidebar-off {
  width: 0px;
}

.sidebar .btn-close {
  position: absolute;
  top: 15px;
  right: 30px;
  margin-left: 60px;
}

.sidebar .btn-close .btn-close-icon {
  color: #fff;
  font-size: 1.5rem;
}

.button-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.study-button-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 3px 3px 3px 3px;
}

/* chat messages group */
.chat-wrapper {
  height: 100%;
}

/*.overflow-wrapper {
  overflow: scroll;
  height: 70%;
}

.messages-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}*/

.overflow-wrapper {
  display: flex;
  flex-direction: column;
  height: 70%;
}

.messages-wrapper{
  flex: 1 1 auto;
  overflow-y: scroll;
}

.chat-bar-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.chat-bar {
  height: 35px;
  box-shadow: none;
  outline: none;
  background-color: #fff;
  box-sizing: border-box;
  width: 500px;
  padding: 1rem 1rem;
  font-size: 0.8rem;
  border: 0.5px solid #EA3160;
  border-radius: 4px;
}

.chat-bar:hover {
  box-sizing: border-box;
  border: 0.5px solid #EA3160;
  -webkit-box-shadow:  0 0 1px 3px rgba(234, 49, 96, 0.1);
  -moz-box-shadow:  0 0 1px 3px rgba(234, 49, 96, 0.1);
  box-shadow:  0 0 1px 3px rgba(234, 49, 96, 0.1);
  padding: 1rem 1rem;
  font-size: 1.25rem;
  font-size: 0.8rem;
}

.btn-chat {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin: 1rem;
  background-color: #EA3160;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  transition: 0.3s;
  height: 35px;
}
/* chat messages group */

/* responsive */
@media (max-width: 768px) {
  h1 {
    line-height: 1em;
  }

  .buddy-card {
    margin-left: 0px;
  }

  .requests-title {
    font-size: 1.5rem;
    margin: 1rem;
  }

  .requests-text{
    font-size: 1rem;
  }

  .studyview-wrapper, .studyview-cards {
    justify-content: center;
  }

  .container {
    padding: 5vh 5vw 5vh 5vw;
  }
}

@media (max-width: 1280px) {
  .dashboard-buddies {
    justify-content: flex-start;
  }
}

@media (max-width: 768px) {
  .dashboard-buddies {
    margin-top: 1rem;
    margin-left: 0px;

  }
}

@media (max-width: 768px) {
  .study-card, .study-card-lg {
    width: 90vw;
    margin: 8px 0px 8px 0px;
  }

  .card-md {
    max-width: 90vw;
  }

  .peer-card-small {
    width: 90vw;
  }

  .explore-group-card {
    width: 90vw;
    margin: 0;
  }

  .card-row {
    width: 90vw;
  }

  .right-row-text {
    margin-right: 1px;
  }
  
  .row-title {
    font-size: 1rem;
  }

  .invite-card {
    margin: 0;
    width: 90vw;
    max-width: 90vw;
  }

  .studyview-wrapper-desktop-smaller {
    width: 100%;
  }

  .sidebar-on {
    width: 85vw;
  }

  /* production */
  .card-lg {
    padding: 15px;
    margin: 15px;
  }

  .landing {
    padding: 10px;
    margin: 10px;
    width: 85vw;
  }

  .landing-title {
    font-size: 4rem;
  }

  .studyview-wrapper-desktop-smaller {
    width: 100%;
  }

  .sidebar-on {
    width: 85vw;
  }
  /* production */
}
/* responsive */